n8n_workflow_final.json
{
    "name": "Esencial Focus - Final Hybrid Capture (Agregated)",
    "nodes": [
        {
            "parameters": {
                "updates": [
                    "message"
                ],
                "additionalFields": {}
            },
            "id": "telegram-trigger",
            "name": "Telegram Trigger",
            "type": "n8n-nodes-base.telegramTrigger",
            "typeVersion": 1,
            "position": [
                0,
                300
            ],
            "webhookId": "telegram-webhook",
            "credentials": {
                "telegramApi": {
                    "id": "aPpjHzQm8lZbXspM",
                    "name": "Telegram Account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.message.voice ? true : false }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "check-voice",
            "name": "Es Nota de Voz?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                200,
                300
            ]
        },
        {
            "parameters": {
                "resource": "file",
                "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
                "additionalFields": {}
            },
            "id": "download-audio",
            "name": "Descargar Audio",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                400,
                200
            ],
            "operation": "getFile",
            "credentials": {
                "telegramApi": {
                    "id": "aPpjHzQm8lZbXspM",
                    "name": "Telegram Account"
                }
            }
        },
        {
            "parameters": {
                "resource": "audio",
                "operation": "analyze",
                "modelId": {
                    "__rl": true,
                    "value": "models/gemini-1.5-flash",
                    "mode": "list",
                    "cachedResultName": "models/gemini-1.5-flash"
                },
                "text": "Transcribe este audio textualmente. No añadas explicaciones, solo el texto.",
                "inputType": "binary",
                "options": {}
            },
            "id": "transcribe-audio",
            "name": "Transcribir Audio (Gemini)",
            "type": "@n8n/n8n-nodes-langchain.googleGemini",
            "typeVersion": 1.1,
            "position": [
                600,
                200
            ],
            "credentials": {
                "googlePalmApi": {
                    "id": "xDoWmcLjo7a5M06Q",
                    "name": "Google Gemini Account"
                }
            }
        },
        {
            "parameters": {
                "modelName": "models/text-embedding-004",
                "options": {}
            },
            "id": "gemini-embeddings-model",
            "name": "Gemini Embeddings Model",
            "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
            "typeVersion": 1,
            "position": [
                800,
                500
            ],
            "credentials": {
                "googlePalmApi": {
                    "id": "xDoWmcLjo7a5M06Q",
                    "name": "Google Gemini Account"
                }
            }
        },
        {
            "parameters": {
                "mode": "load",
                "tableName": {
                    "__rl": true,
                    "value": "strategy_vectors",
                    "mode": "id"
                },
                "prompt": "={{ $('Es Nota de Voz?').item.json.message.voice ? $('Transcribir Audio (Gemini)').item.json.text : $('Telegram Trigger').item.json.message.text }}",
                "keyword": "={{ $('Es Nota de Voz?').item.json.message.voice ? $('Transcribir Audio (Gemini)').item.json.text : $('Telegram Trigger').item.json.message.text }}",
                "options": {
                    "matchCount": 3
                }
            },
            "id": "supabase-retriever",
            "name": "Recuperar Contexto (Supabase)",
            "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
            "typeVersion": 1,
            "position": [
                800,
                300
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "IEwBT6HdTXWBU4KU",
                    "name": "Supabase Account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const context = items.map(i => i.json.pageContent).join('\\n---\\n') || \"No se encontró contexto estratégico.\";\n\nconst voice = $('Es Nota de Voz?').first().json.message.voice;\nconst input = voice ? $('Transcribir Audio (Gemini)').first().json.text : $('Telegram Trigger').first().json.message.text;\n\nreturn [{ json: { context, input } }];"
            },
            "id": "aggregate-context",
            "name": "Unificar Contexto",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1050,
                300
            ]
        },
        {
            "parameters": {
                "modelId": {
                    "__rl": true,
                    "value": "models/gemini-1.5-pro",
                    "mode": "list",
                    "cachedResultName": "models/gemini-1.5-pro"
                },
                "messages": {
                    "values": [
                        {
                            "role": "system",
                            "content": "Eres el Agente Ejecutivo de Esencial Focus.\n\nTU MISIÓN:\nConvertir la ENTRADA (Texto o Audio Transcrito) en una TAREA ACCIONABLE para la app.\n\nCONTEXTO ESTRATÉGICO (Recuperado):\n{{ $json.context }}\n\nINSTRUCCIONES:\n1. Analiza la entrada.\n2. Usa el contexto estratégico para decidir prioridad y alinación. Si el contexto no es relevante, usa tu criterio.\n3. Si es una tarea vaga, hazla concreta.\n4. DEVUELVE SOLO JSON VÁLIDO. No markdown, no explicaciones.\n\nFORMATO JSON:\n{\n  \"title\": \"Verbo + Objeto\",\n  \"description\": \"Detalles...\",\n  \"priority\": \"high\" | \"medium\" | \"low\",\n  \"dueDate\": null,\n  \"listId\": \"inbox\"\n}"
                        },
                        {
                            "role": "user",
                            "content": "={{ $json.input }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "ai-agent",
            "name": "Agente Ejecutivo (Gemini)",
            "type": "@n8n/n8n-nodes-langchain.googleGemini",
            "typeVersion": 1.1,
            "position": [
                1300,
                300
            ],
            "credentials": {
                "googlePalmApi": {
                    "id": "xDoWmcLjo7a5M06Q",
                    "name": "Google Gemini Account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const text = $input.item.json.text || '';\nconst jsonString = text.replace(/```json/g, '').replace(/```/g, '').trim();\ntry {\n  return JSON.parse(jsonString);\n} catch (e) {\n  return { title: \"Error parsing AI response\", description: text, priority: \"medium\" };\n}"
            },
            "id": "parse-json",
            "name": "Parsear JSON",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1550,
                300
            ]
        },
        {
            "parameters": {
                "operation": "create",
                "projectId": "YOUR_FIREBASE_PROJECT_ID",
                "collection": "cards",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "title",
                            "fieldValue": "={{ $json.title }}"
                        },
                        {
                            "fieldId": "description",
                            "fieldValue": "={{ $json.description }}"
                        },
                        {
                            "fieldId": "priority",
                            "fieldValue": "={{ $json.priority }}"
                        },
                        {
                            "fieldId": "dueDate",
                            "fieldValue": "={{ $json.dueDate }}"
                        },
                        {
                            "fieldId": "createdAt",
                            "fieldValue": "={{ new Date().toISOString() }}"
                        },
                        {
                            "fieldId": "status",
                            "fieldValue": "todo"
                        },
                        {
                            "fieldId": "listId",
                            "fieldValue": "inbox"
                        }
                    ]
                }
            },
            "id": "firebase-writer",
            "name": "Crear Tarea en Firebase",
            "type": "n8n-nodes-base.firestore",
            "typeVersion": 1,
            "position": [
                1750,
                300
            ],
            "credentials": {
                "firebaseFirebaseApi": {
                    "id": "YOUR_FIREBASE_CREDENTIAL_ID",
                    "name": "Firebase Account"
                }
            }
        },
        {
            "parameters": {
                "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
                "text": "=✅ *Tarea Creada*: {{ $('Parsear JSON').item.json.title }}\n🎯 *Prioridad*: {{ $('Parsear JSON').item.json.priority }}",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "id": "confirm-telegram",
            "name": "Confirmar Creación",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                1950,
                300
            ],
            "credentials": {
                "telegramApi": {
                    "id": "aPpjHzQm8lZbXspM",
                    "name": "Telegram Account"
                }
            }
        }
    ],
    "connections": {
        "Telegram Trigger": {
            "main": [
                [
                    {
                        "node": "Es Nota de Voz?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Es Nota de Voz?": {
            "main": [
                [
                    {
                        "node": "Descargar Audio",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Recuperar Contexto (Supabase)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Descargar Audio": {
            "main": [
                [
                    {
                        "node": "Transcribir Audio (Gemini)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Transcribir Audio (Gemini)": {
            "main": [
                [
                    {
                        "node": "Recuperar Contexto (Supabase)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini Embeddings Model": {
            "ai_embedding": [
                [
                    {
                        "node": "Recuperar Contexto (Supabase)",
                        "type": "ai_embedding",
                        "index": 0
                    }
                ]
            ]
        },
        "Recuperar Contexto (Supabase)": {
            "main": [
                [
                    {
                        "node": "Unificar Contexto",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Unificar Contexto": {
            "main": [
                [
                    {
                        "node": "Agente Ejecutivo (Gemini)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Agente Ejecutivo (Gemini)": {
            "main": [
                [
                    {
                        "node": "Parsear JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parsear JSON": {
            "main": [
                [
                    {
                        "node": "Crear Tarea en Firebase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Crear Tarea en Firebase": {
            "main": [
                [
                    {
                        "node": "Confirmar Creación",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}